<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.7" name="org.postgresql">
    <resources>
        <resource-root path="postgresql-${wildfly.postgres.module.postgres.version}.jar"/>
        <resource-root path="postgis-jdbc-${wildfly.postgres.module.postgis.version}.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>